
  /* boxes */

.container{
    border: solid 1px rgb(241, 3, 229);
    width: 100%;
    height: 100%;
    display: flex;
}

.box-150-px{
    height: 150;
    width: 150px;
    border: solid 1px black;
}

.box-300-px{
    border: solid;
    width: 300px;
    height: 300px;
           
}

.box-about{
    border: solid;
    width: 300px;
    height: 100px;
      
}

.box-test{
    border: solid 1px black;
    width: 80%;
    height: 200px;
    align-content: center;
    margin: 60px;
}

.box-200-px{
    border: solid;
    width: 200px;
    height: 200px;
   
}

.box-50-px{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: solid 1px black;
} 

.box-100-px{
    height: 100px;
    width: 100px;
    margin: 25px;
    border: solid 1px black;
}

.box-user{
    height: 50px;
    width: 200px;
    margin: 25px;
    border: solid 1px black;
}

.box-flex{
    display:flex;
}

.box-cards{
    display:flex;
    margin: 50px;
}

/* boxes end */

/* margin's */

.margin-0{
    margin:0;
}

.margin-25{
    margin: 25px;
}

.margin-50{
    margin: 50px;
}

.margin-100{
    margin: 100px;
}

.margin-125{
    margin: 125px;
}

.margin-150{
    margin: 150px;
}

/* margin's end */

 /* hover classes  */


 .hovertest {
    transition: background-color 0.5s;
  }
  
.hovertest:hover {
    background-color: pink;
  }

.hovertest1 {
    transition: background-color 0.5s;
  }
  
.hovertest1:hover {
    background-color: yellow;
  }

.hovertest2 {
     transition: background-color 0.5s;
  }
  
.hovertest2:hover {
    background-color: darkmagenta;
  }

/* hover classes end */  

/* Border radius */

.border{
    border:solid 1px;
    color: black;
}

.border-radius-1{
    border-radius: 30px;
}

.border-radius-2{
    border-radius: 25% 10%;
}

.border-radius-3{
    border-radius: 10% 30% 50% 70%;
}

.border-radius-4{
    border-radius: 10% / 50%;
}

.border-radius-5{
    border-radius: 10px 100px / 120px;
}

.border-radius-6{
    border-radius: 50% 20% / 10% 40%;
}

/* Border radius end */

/* Bilde tags */

.bilde{
    background-image: url(https://images.alphacoders.com/238/thumb-1920-238183.jpg);

}

.img {
    height: 120px;
}
  
.cover {
    width: 260px;
    object-fit: cover;
}

/* Bilde tags end*/

 /* Base html tags*/

body{
    margin: 0px;
}

li,
ul,
ol{
    list-style: none;
    padding-left: 0;
}

a {
    color: #00659c;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.temp{
    height: 150px;
    width: 150px;
}

/* base thml tags end */

/* Table start*/

table, th, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
  }





/* Table end */